@page "/Data/Agendar"

@using DadosAcesso
@using DadosAcesso.Models

@inject IAgendamentoDados _db

<h3>Agendamento</h3>
<h4>Aqui você faz seu agendamento</h4>
<EditForm Model="_agendar" OnValidSubmit="@Submit">
    <label>Nome:</label>
    <InputText id="nome" @bind-Value="@NomeCliente"></InputText><br />
    <label>Cpf:</label>
    <InputText id="cpf" @bind-Value="@CpfCliente"></InputText><br />
    <label>Rg:</label>
    <InputText id="rg" @bind-Value="@RgCliente"></InputText><br /><br />
    <button type="submit">Fazer Agendamento</button>
</EditForm>


@code {
    private InsereAgendamentoModels _agendar = new InsereAgendamentoModels();
    private string NomeCliente { get; set; }
    private string CpfCliente { get; set; }
    private string RgCliente { get; set; }

    private void Submit()
    {
        _db.InserirAgendamento(_agendar);
    }

}
